<!-- app/views/home/index.html.erb -->

<% if logged_in? %>

  <h1>Logged in</h1>

  <p><%= link_to 'Sign out', signout_path %><p>
<h2>Drive List</h2>
<p> Number of characters is only caluclated for recently modified files</p>
  <table id="drive" class="display">
    <thead>
      <tr>
	<th>File Name</th>
	<th>Number of Characters</th>
	<th>Last modified</th>
	<th>Last modified by</th>
      </tr>
    </thead>
    <tbody>
      <% @files_result.each do |file| %>
      <tr>
	<td><%= file.title %></td>
	<td><%= file.size %></td>
	<td><%= file.modifiedDate %></td>
	<td><%= file.lastModifyingUserName %></td>
      </tr>
      <% end %>
    </tbody>
  </table>



  <% else %>
<h1> Welcome!</h1>

  <p> Please <%= link_to 'Sign in', '/signet/google/auth' %> to see a list of your google drive files.</p>

  <% end %>
